.accordin{
    width:100%;
    border: 0;
    font-size: 16px;
    text-align: center;
    outline: 0;
    cursor: pointer;
}
.accordin:after {
    content:"+" ;
    float: right;

}
.desc{
    background-color: blueviolet;
    display: none;
}
body{
    background-color: black;
}
.container{
    padding: px;
    margin: 40px;
}